body{
    background-color:#c7c7c7a1;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    overflow: hidden;
    margin: 0;
}
.area-login{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    align-items: center;
}
.login > h1{
    color: rgb(255, 255, 255);
    justify-content: center;
    font-size: 14px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0168A7;
    border-radius: 10px;
    width: 210px;
    height: 350px;
    padding: 60px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
    padding-top: 60px;
    box-shadow: 0px 10px 20px;
}
.login form{
    display: flex;
    width: 110%;
    flex-direction: column;
    color: white;
    padding-top: 10px;
}
.login input{
    margin-top: 0px;
    background-color:#ffffff;
    padding-left: 10px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: none;
    height: 40px;
    outline: none;
    border-radius: 15px;
}
.login img{
    width: 65px;
    height: auto;
}
.input::placeholder{
    color: black;
    font-size: 14px;
}
form [type="submit"]{
    display: block;
    background-color:#FC7E00;
    margin-top: 40px;
    font-family:Arial, Helvetica, sans-serif;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
}
.main-footer{
	display: flex;
    justify-content: center;
    margin: -70px;
    position: relative;
}


